*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
}

#parent{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.content{
    width: 100%;
    display: flex;
}

.cont-left{
    max-width: 50%;
    margin-top: 50px;
    text-align: end;
    
}

.cont-head p{
    margin-bottom: 10px;
}

.cont-body {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 25px;
}

.cont-body img{
    width: 100px;
    height: 100px;
    margin-left: 15px;
    border-radius: 50px;
    
}

.cont-right{
    max-width: 50%;
    margin-left: 40px;
}
.cont-right img{
    width: 100%;
    height: 600px;
}

.cont-mob{
    display: none;
}
.cont-mob-img{
    display: none;
}

@media all and (max-width: 1000px) {

    #parent{
        width: 100%;
        max-width: 375px;
        margin: 0 auto;  
    }

    .content{
        width: 100%;
        display: block;
    }

    .cont-left{
        width: 100%;
        max-width: 100%;
        text-align: justify;
        margin: 50px 0;
    }

    .cont-body{
        margin-top: 45px;
         align-items: flex-start;
    }

    .cont-right{
        display: none;
    }

    .normal{
        display: none;
    }

    .cont-mob{
        display: block;
        max-width: 30%;
        margin-right: 15px;
    }

    .cont-mob img{
        width: 75px;
        height: 75px;
    }

    .cont-mob-img {
        display: block;
        
    }
     .cont-mob-img img{
        width: 100%;
        height: 100%;
     }
    
    
}
